<!DOCTYPE HTML>

{% load static %}
<!--src="{% static "map.png" %}"-->

<html>
  <head>
    <title>Big Data Flickr Map</title>
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMD0zFl6GkyaYWT55zFedKwm4plc0BffM&sensor=false"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>

    <!-- Draws the map -->
    <script>
	var map;

  //CodeAddress takes in a location and draws the marker and info window
	function codeAddress(location, value) 
	{
		var geocoder;
		geocoder = new google.maps.Geocoder();
  		//var address = document.getElementById('address').value;
  	address = location
  	geocoder.geocode( { 'address': address}, function(results, status) 
  	{
    	if (status == google.maps.GeocoderStatus.OK) 
			{
        //Create a marker
        map.setCenter(results[0].geometry.location);
        if(value > 1)
        {
      	var marker = new google.maps.Marker
        ({
          map: map,
          position: results[0].geometry.location,
          title: results[0].formatted_address,
          icon: "{% static "paleblue_MarkerX.png" %}"
      	});
          window.totalVal = window.totalVal + value;
          var y = window.totalVal;
          document.getElementById("total").innerHTML="Number of images:" + y;
      }
      else{
                var marker = new google.maps.Marker
        ({
          map: map,
          position: results[0].geometry.location,
          title: results[0].formatted_address
        });
          window.totalVal = window.totalVal + 1;
          var y = window.totalVal;
          document.getElementById("total").innerHTML="Number of images:" + y;
      }
        console.log(results[0].geometry.formatted_address)
        //Create the Info Window   
        var contentString = results[0].formatted_address + "<br>" + "Number of Pictures = " + value;
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        //Event Listener to display the info window when a marker is clicked
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });

		console.log("Success");
    window.localVal = window.localVal + 1;
    var x = window.localVal;
    document.getElementById("locations").innerHTML="Number of locations:" + x;
    	} 
      else if (status === google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {    
            setTimeout(function() {
                codeAddress(location,value);
            }, 100);
        }

			else 
			{
      	alert('Geocode was not successful for the following reason: ' + status);
    	}
  	});

	}
	function initialize() {
 		var mapOptions = 
 		{
    		zoom: 3,
    		center: new google.maps.LatLng(20, -20)
  		};
  	map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    console.log("init");
	}

//Code to draw all of the markers
google.maps.event.addDomListener(window, 'load', initialize);

var locations = {{ tags|safe}}
var totalVal = 0;
var localVal = 0;
for (var key in locations) {
  if (locations.hasOwnProperty(key)) {
    codeAddress(key, locations[key]);
  }
}
    </script>

  </head>
  <body>
        <div class="bar">
<form>
<input type="image" src="{% static "search.png" %}" width="24px" height="23px" alt="Submit form">
<input type="text" name="tag" value="">

</form>
        <br>
        <button id="total" class="button" name="total" value="fav_HTML">Number of locations:</button>
        <button id="locations" class="button" name="locations" value="fav_HTML">Number of images:</button>
</div>
    <div id="map-canvas"></div>
  </body>
</html>

